<div class="accueil">

    <div class="logo_accueil">
        <img src="http://image.noelshack.com/fichiers/2018/44/4/1541075275-dvir.gif" height="240" width="240">
        <img src="http://image.noelshack.com/fichiers/2018/44/4/1541075037-thpbdx1gossip.png">
        <img style="-moz-transform: scaleX(-1); -o-transform: scaleX(-1); -webkit-transform: scaleX(-1); transform: scaleX(-1); filter: FlipH; -ms-filter: "FlipH" " src="http://image.noelshack.com/fichiers/2018/44/4/1541075275-dvir.gif" height="240" width="240">
    </div>
     <div class="button_inscription">    
            <%= link_to "inscription", new_user_path, class: "btn btn-primary btn-lg" %>
     </div>
    <div class="button_login">   
            <a class="btn btn-primary btn-lg" href="login" role="button">connecte toi</a>
    </div>

</div>