<body>
<h1>Édite ton nouveau gossip ! <img src="http://image.noelshack.com/fichiers/2018/44/4/1541101054-wineload.gif" height="60" width="60"></h1>

<%= form_for @gossip, url: {action: "update"} do |f| %>
<div class="form-group">
    <%= f.text_field :title, placeholder: 'Ton joli petit titre', class: "form-control" %>
</div>
<div class="form-group">
    <%= f.text_area :content, placeholder: 'Ton vilain gossip', class: "form-control" %>
</div>
<div class="form-group">
    <button class="btn btn-outline-dark" type="submit">Modifier le gossip</button>
</div>
<% end %>